.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/fonts/brand_ssv/Brandon_reg.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("./assets/fonts/brand_ssv/Brandon_bld.otf") format("truetype");
}

@font-face {
  font-family: "Chronicle Display";
  src: url("./assets/fonts/chronicle-display/Chronicle\ Display\ Roman.otf")
    format("truetype");
}

.brandon-grotesque {
  font-family: "Brandon Grotesque", sans-serif;
}

.brandon-grotesque-bold {
  font-family: "Brandon Grotesque Bold", sans-serif;
}

.chronicle-display {
  font-family: "Chronicle Display", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: none;
}

/* MEET BIOM ANIMATION */
@keyframes scrollText {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-scrolling {
  animation: scrollText 10s linear infinite;
}

/* CAROUSEL */

.testimonial-carousel {
  width: 100%;
  overflow: hidden;
}

.testimonial-slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.testimonial-slide {
  flex: 0 0 100%;
  width: 100%;
}

.carousel-dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #004a4c;
}

.dot.active {
  background-color: #004a4c;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and newer versions of Firefox */
}

.calc-form {
  --tw-calc-form: calc(
    100% - 8rem
  ); /* Adjust the "8rem" to your desired value */
}
